

.page-template-page-mystory{
	header .header-wrapper .logo{
		display:none;
	}
	 header .header-wrapper #menu-container ul.menu li a {
	    color: #7c7c7c;
	}
	.social-icons .fa {
	    font-size: 14px;
	    color: #7c7c7c;
	    padding: 0 10px;
	}
	header .header-wrapper {
	    position: relative;
	    top: 30px;
	    height:125px;
	}
	
	.main-container{
		margin: 30px 45px 45px;
		height: calc(100vh - 200px);

	}
	.mystory{
		display: flex;
		flex-wrap: wrap;
		.image-container{
			width:45%;
			
			margin:0 auto;
			.mystoryimage{
				width:100%;
				background-size: cover;
				background-repeat: no-repeat;
				position:relative;
				height: 500px;
				height:calc(100vh - 230px);
				margin: 0 auto;
				position:relative;
				.green{
				
					background: #eaf0dd;
				    height: calc(100vh - 230px);
				    background-size: cover;
				    width: 100%;
				    position: absolute;
				    bottom: -15px;
				    z-index: -1;
				    margin: 0 auto;
				    right: -15px;
				}
			}
			
		}
		.mystory-content{
			width: 55%;	
			padding:0 0 0 5%;		
			h2{
				
				font-family: 'Prata', serif;
				font-size: 60px;
				color:#7c7c7c;
				margin: 0 0 20px;
				font-weight: 100;

			}
			.mystory-text{
				font-family: 'Cabin', sans-serif;
				font-size: 16px;
				color:#7c7c7c;
				overflow:auto;
			}
		}

	}
} 




@media all and (max-width: 1500px) { 
	.page-template-page-mystory .mystory .image-container .mystoryimage{
		width: 500px;
		height: calc(100vh - 210px);
	}
	.page-template-page-mystory .mystory .image-container .mystoryimage .green {
	 	height: calc(100vh - 210px);
	}
	.page-template-page-mystory .mystory .mystory-content .mystory-text{
		font-size:14px;
	}
	.page-template-page-mystory .mystory .mystory-content h2 {
	    font-size: 45px;
	    margin: 0;
	}
	

}
@media (max-width: 1500px) and (max-height: 784px)    {
	.page-template-page-mystory .mystory .image-container .mystoryimage{
		width: 450px;
	}
	.page-template-page-mystory .mystory .mystory-content {
		padding-left: 0;
	}
}
@media all and (max-width: 1300px) { 
	.page-template-page-mystory .mystory .mystory-content {
	    width: 50%;
	}
}
@media all and (max-width: 1300px) and (max-height: 620px)    {
	.page-template-page-mystory .mystory .image-container .mystoryimage{
		width: 310px;
	}	
	.page-template-page-mystory .mystory .mystory-content {
	    width: 50%;
	}
}

@media all and (max-width: 1140px) { 
	.page-template-page-mystory .mystory{
		flex-direction:column;

	}
	.page-template-page-mystory .mystory .image-container{
		width: 100%;
		position: relative;
		margin: 0 auto;
	}
	.page-template-page-mystory .mystory .mystory-content {
		width:100%;
	}
	.page-template-page-mystory .mystory .mystory-content {
	    padding-top: 10%;
	}
	
	.page-template-page-mystory .mystory .image-container {
	    margin-top: 16px;
	}
	.page-template-page-mystory .mystory .image-container .mystoryimage{
		height:400px;
		width:300px;
	}
	.page-template-page-mystory .mystory .image-container .mystoryimage .green {
	 	height:400px;
	 	width:300px;  
	}
}
@media all and (max-width: 1024px) { 
	

	.page-template-page-mystory .logo-dark {
	    width: 14%;
	    display: block;
	}


	.page-template-page-mystory{
		
		header .header-wrapper {
		    position: relative;
		    height:100px;
		}
	
	}

	.page-template-page-mystory .main-container {
	    margin: 100px 5% 5% 5%;
	}
	.page-template-page-mystory header .header-wrapper {
	    top: 0;
	}
	.page-template-page-mystory .logo-dark {
	    z-index: 999;
	}
	header .header-wrapper #menu-container {
		margin:0;
	}

}


@media all and (max-width: 768px) {

}

@media all and (max-width: 667px) {
	.page-template-page-mystory .mystory .image-container .mystoryimage {
	    width: 250px;
	    height: 300px;
	}
	.page-template-page-mystory .mystory .image-container .mystoryimage .green {
		height:300px;
		width:250px;
	}
	.page-template-page-mystory .logo-dark {
	    display: block;
	    width:20%;
	}
	.page-template-page-mystory .mystory .mystory-content h2 {
	    font-size: 25px;
	    margin: 0;
	}
   

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 320px) {
    
    
}
