.page-template-page-portfolio{
	header .header-wrapper .logo{
		display:none;
	}
	 header .header-wrapper #menu-container ul.menu li a {
	    color: #7c7c7c;
	}
	.social-icons .fa {
	    font-size: 14px;
	    color: #7c7c7c;
	    padding: 0 10px;
	}
	header .header-wrapper {
	    position: relative;
	    top: 30px;
	}
	header{
		height:125px;
	}
	.main-container{
		margin: 20px 45px 45px;
	}

}	
.portfolio-page{
	transition: all 0.5s ease;
	h1{
		text-align: center;
		font-family: 'Prata', serif;
		font-size: 35px;
		font-weight: 100;
		letter-spacing: 1px;
		position:relative;
		color: #7c7c7c;
		height:40px;
		margin: 20px 0;
	}
	.green{
		background: url(images/home-green.jpg);
	    // height: calc(100vh - 260px);
	    height:100%;
	    width:100%;
	    position:absolute;
	    bottom:-15px;
	    right:-15px;
	    z-index:-1;
	
	}
	.portfolio-wrapper{
		display: flex;
		justify-content: center;
		position:relative;
		max-width: 1400px;
		margin: 0 auto;
		transition: all 0.5s ease;
		.portfolio-image-parent{
			position:relative;
			margin:0 auto;
			display:block;
			transition: all 0.5s ease;
			.portfoliopage-image{
				width:350px;
				height: calc(100vh - 260px);
				background-repeat: no-repeat;
				background-size: cover;
				transition: all 0.5s ease;
				p{

					text-align: center;
					font-family: 'Cabin', sans-serif;
					font-size: 22px;
					color:#fff;
					text-transform: uppercase;
					font-weight: 100;
					letter-spacing: 1px;
					z-index: 2;
					position:relative;
					margin:0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.overlay{
				position:absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				 background:#343434;
				 opacity:.7;
			}
		}
	}
}
.meta-sep, .author{
	display:none;
}

.blog-arrows{
	position:relative;
	.alignleft, .alignright{
		position:absolute;
		right:25px;
		top:0;
		color:#7c7c7c;
		a{
			color:#7c7c7c;
		}
	}
}
.blog-arrows .alignleft a:hover{
	opacity:.7;
}
.blog-arrows .alignright a:hover {
    opacity:.7;
}

.portfolio-page .portfolio-wrapper .portfolio-image-parent:hover{
	.overlay{
		opacity: 0;
		transition: all 0.5s ease;
	}
}

@media all and (max-width: 1500px) { 

	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image p {
	    // padding: 45% 16%;
	}
	.page-template-page-portfolio .main-container {
	    margin: 20px 45px 45px;
	}
	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image {
	    width: 280px;
	    // height:350px;
	}
	.portfolio-page .portfolio-wrapper {
	    max-width: 1120px;
	}

}
@media all and (max-width: 1450px) { 
	.bx-container .green {
	    right: 11px;
	}
}
@media all and (max-width: 1200px) { 
	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image {
	    width: 250px;
	    height:350px;
	}
	.portfolio-page .green{
		display:none;
	}
}
@media all and (max-width: 1100px) { 
	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image {
	    width: 200px;
	}


	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image p {
	    font-size: 20px;
	}
}
@media all and (max-width: 1024px) { 
	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image {
	    width: 350px;
	    height:300px;
	}
	.portfolio-page .green {
	    display:none;
	}
	.portfolio-page .portfolio-wrapper {
		flex-wrap:wrap;
	}
	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image p {
	    font-size: 20px;
	    padding: 30% 16%;
	}
	.page-template-page-portfolio{
		.logo-dark {
			    width: 14%;
			    display: block;
			}
		.main-container {
			    margin: 100px 5% 5% 5%;
			}
		header .header-wrapper {
		    position: relative;
		    top: 30px;
		    height:100px;
		}
		header{
			height:100px;	
		}
		header .header-wrapper {
			top: 0;
		}
		.logo-dark {
			z-index: 999;
		}
		header .header-wrapper #menu-container {
			margin: 0 30px;
		}
		header{
			height: 75px;
		}
	}
	.portfolio-page h1 {
	    font-size: 25px;
	}
}

@media all and (max-width: 940px) { 

}

@media all and (max-width: 768px) {
	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image {
	    width: 300px;
	    height: 300px;
	}	
}

@media all and (max-width: 690px) {
	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image {
	    width: 450px;
	}
}

@media all and (max-width: 480px) {
	.page-template-page-portfolio{
		.logo-dark {
		    width: 25%;
		    display: block;
		}
	}
	.portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image {
	    width: 300px;
	}
}

@media all and (max-width: 320px) {
    .portfolio-page .portfolio-wrapper .portfolio-image-parent .portfoliopage-image {
        width: 275px;
    }
    
}
